@import "tailwindcss";

.react-datepicker {
  font-family: inherit;
  border-color: rgb(247, 142, 5) !important;
  border-radius: 1rem;
  overflow: hidden;
}

.react-datepicker__header {
  background-color: rgb(246, 138, 6) !important;
  border-bottom-color: rgb(241, 189, 122) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: rgb(234 88 12) !important;
  color: white !important;
}

.react-datepicker__day--in-selecting-range {
  background-color: rgb(255 237 213) !important;
  color: rgb(154 52 18) !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
  color: inherit !important;
}

.react-datepicker__day {
  border-radius: 0.5rem !important;
}
